apiVersion: v1
kind: Config
clusters:
- name: microk8s
  cluster:
    server: {{ k8s_api_public_url }}
    certificate-authority-data: {{ k8s_ca_cert_b64 }}
users:
- name: gitlab
  user:
    token: {{ gitlab_ci_sa_token.stdout }}
contexts:
- name: gitlab-context
  context:
    cluster: microk8s
    user: gitlab
current-context: gitlab-context
